@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
--Red: rgb(234, 83, 83);
--Cyan: rgb(69, 211, 211);
--Orange: rgb(252, 175, 74);
--Blue: rgb(84, 158, 242);
--Very-Dark-Blue: rgb(76, 78, 97);
--Grayish-Blue: rgb(163, 165, 174);
--Very-Light-Gray: rgb(250, 250, 250);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
main{
    width: 100%;
    min-height: 100vh;
    background: var(--Very-Light-Gray);
}
.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}
.text h2 {
    font-weight: 200;
    font-size: 2.42em;
    margin-top: 40px;
}
.text h1 {
    font-weight: 600;
    font-size: 2.4em;
    color: var(--Very-Dark-Blue);
}
.text p{
    font-weight: 400;
    max-width: 550px;
    color: var(--Grayish-Blue);
    margin-top: 20px;
    margin-bottom: 60px;
}
.cards{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.card {
    width: 380px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 4px 4px 18px rgba(20,20,20,0.1);
}
.cards > .card:nth-of-type(1){
    background: linear-gradient(0deg, white 0%, white 98%, var(--Cyan) 98%, var(--Cyan) 10%);
}
.card__sector-1 > .card:nth-of-type(1){
    background: linear-gradient(0deg, white 0%, white 98%, var(--Red) 98%, var(--Red) 10%);
}
.card__sector-1 > .card:nth-of-type(2){
    background: linear-gradient(0deg, white 0%, white 98%, var(--Orange) 98%, var(--Orange) 10%);
}
.cards > .card:nth-of-type(3){
    background: linear-gradient(0deg, white 0%, white 98%, var(--Blue) 98%, var(--Blue) 10%);
}
.card h3{
    color: var(--Very-Dark-Blue);
    margin-bottom: 8px;
    font-size: 1.47em;
}
.card p {
    color: var(--Grayish-Blue);
    font-size: 15px;
    line-height: 1.6em;
}
.card img {
    width: 70px;
    align-self: flex-end;
}
.card__sector-1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
@media (max-width: 1250px) {
    .text h2{
        font-size: 1.51em;
        margin-top: 80px;
    }
    .text h1{
        font-size: 1.5em;
    }
    .text p {
        width: 330px;
        margin-bottom: 80px;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 340px;
        height: 250px;
        padding: 28px;
    }
    .card h3{
        font-size: 1.3em;
    }
    .card p{
        font-size: 0.83em;
    }
    .card img {
        width: 65px;
    }
}