@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Bebas+Neue&family=Lobster&family=Poppins:wght@300;500&family=Roboto:wght@400;500;900&family=Rubik:wght@300;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: repeat(2, 250px);
    gap: 40px;
    max-width: 720px;
    margin: 50px auto;
    padding: 60px;
    background: rgba(20,20,20,0.08);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:4px 3px 15px rgba(70,70,70,0.5);
    padding: 40px 20px 30px 20px;
    border-radius: 10px;
    position: relative;
    color: #C2483F;
    background: rgb(20,20,20);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.cards div:nth-child(1){
    display: flex;
    flex-direction: column;
}
.contenido h3 {
    padding-bottom: 20px;
    color: rgb(200,200,200);
    font-family: "Rubik";
}
.contenido p {
    line-height: 1.5em;
    word-spacing: 2px;
}
.baner{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    transition: all 0.4s ease;
    opacity: 1;
}
.baner:hover{
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.7) -5px 5px 16px, rgba(0, 0, 0, 0.7) 5px -5px 16px,rgba(0, 0, 0, 0.7) 5px 5px 16px,rgba(0, 0, 0, 0.7) -5px -5px 16px;
    transform: scale(1.07);
    
}
.cards:nth-of-type(1) .baner{
    background: linear-gradient(15deg,#4b000f 0%,#ff0033 45%,#ff003344 100%);
}
.cards:nth-of-type(2) .baner{
    background: linear-gradient(15deg,#000149 0%,#0004ff 45%,#0004ff41 100%);
}
.cards:nth-of-type(3) .baner{
    background: linear-gradient(15deg,#421800 0%,#ff5e00 45%,#ff5e0048 100%);
}
.cards:nth-of-type(4) .baner{
    background: linear-gradient(15deg,#2f0044 0%,#ae00ff 45%,#ae00ff48 100%);
}
.buttons a {
    color: rgb(220,220,220);
    
}
/*cuando haga hover, que la sombra salga mas*/
/*al hover, que se haga mas grande*/